@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/noto-sans-v11-latin_greek-regular.eot");
  /* IE9 Compatibility Modes */
  src: local(""), url("../fonts/noto-sans-v11-latin_greek-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v11-latin_greek-regular.woff2") format("woff2"), url("../fonts/noto-sans-v11-latin_greek-regular.woff") format("woff"), url("../fonts/noto-sans-v11-latin_greek-regular.ttf") format("truetype"), url("../fonts/noto-sans-v11-latin_greek-regular.svg#Noto Sans") format("svg");
  /* Legacy iOS */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #384F4F;
}

.navbar-light {
  background: #95A3A5;
}

.navbar-light .navbar-nav .nav-link {
  color: #384F4F;
  text-decoration: none;
  padding: 1em 1em;
  font-size: 1.4em;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #F2F2EB;
}

.section1 .container-fluid {
  background: #95A3A5;
  height: 60vh;
}

.section1 .container-fluid .row {
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .container-fluid .row .sectiontext {
  color: #384F4F;
  text-align: center;
  margin-top: 1.87em;
}

.section1 .container-fluid .row .sectiontext h1 {
  font-size: 3.5em;
}

.section1 .container-fluid .row .sectiontext p {
  font-size: 1.5em;
}

.section1 .container-fluid .row .sectionphoto {
  text-align: center;
  margin-bottom: 5em;
}

.section1 .container-fluid .row .sectionphoto .coding {
  width: 80%;
}

.section1 .clip {
  height: 15vh;
  border-top-left-radius: 100% 30%;
  border-top-right-radius: 100% 30%;
  background: #384F4F;
  position: relative;
  bottom: 1.37em;
}

.section1 .clip .coderman {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 50%;
}

.section2 {
  height: 80vh;
  width: 100%;
}

.section2 .container .row .about {
  background: #F2F2EB;
}

.section2 .container .row .about h2 {
  font-size: 3em;
  margin-top: 20px;
  margin-left: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#C38251), color-stop(50%, #384F4F), to(#384F4F));
  background: linear-gradient(to right, #C38251 0%, #384F4F 50%, #384F4F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 .container .row .about p {
  margin: 20px 20px 0 20px;
  font-size: 2em;
  color: #C38251;
}

.section3 .projects {
  background: #C38251;
  width: 100%;
  height: 60vh;
}

.scrollToTopBtn {
  background-color: #806158;
  color: #F2F2EB;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 3em;
  height: 3em;
  float: right;
  /* place it at the bottom right corner */
  /* keep it at the top of everything else */
  z-index: 100;
  /* also add a translate effect */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  /* and a transition */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .section1 .clip .coderman {
    width: 40%;
    bottom: 70%;
  }
}

@media (min-width: 768px) {
  .section1 .container-fluid .row .sectiontext {
    left: 2%;
    margin-top: 0;
  }
  .section1 .container-fluid .row .sectionphoto {
    margin-bottom: 0;
  }
  .section1 .clip .coderman {
    width: 30%;
    bottom: 70%;
  }
}

@media (min-width: 992px) {
  .section1 .container-fluid .sectiontext {
    left: 0%;
  }
  .section1 .container-fluid .sectionphoto {
    right: 5%;
  }
  .section1 .clip .coderman {
    width: 25%;
    bottom: 75%;
  }
}

@media (min-width: 1200px) {
  .section1 .container-fluid .sectiontext {
    left: 5%;
  }
  .section1 .container-fluid .sectionphoto {
    right: 8%;
  }
  .section1 .clip .coderman {
    width: 22%;
    bottom: 85%;
  }
}

@media (min-width: 1400px) {
  .section1 .container-fluid {
    height: 70vh;
  }
  .section1 .clip .coderman {
    width: 20%;
    bottom: 85%;
  }
}

@media (min-width: 1600px) {
  .section1 .container-fluid {
    height: 80vh;
  }
  .section1 .clip .coderman {
    width: 20%;
    bottom: 110%;
  }
}
/*# sourceMappingURL=index.css.map */